body {
    margin: 0;
    background: url("../img/Pattern.png");
    line-height: 1.5; 
    font-family: Arial;
    font-size: 18px;
}

.card {
    width: 400px;
    margin: 30px auto;
    background-color:
     #fff;
     box-shadow: 0 5px 10px #ccc;
     border-radius: 10px;
     padding: 20px;
}

.card-photo {
    display: block;
    width: 200px;
    height: 250px;
    margin: 0 auto;
    border-radius: 20%;
}

.card-title {
    font-size: 30px;
    text-align: center;
    color: #3d7767;

}

.card-text {
    font-size: 14px;

}

.card-subtitle {
    font-size: 20px;
    color: #253124;

}
.card-list {
    padding-left: 0;
    list-style-position: inside;
}